.card
	img.card-img-top(src="./img/card-img-1.jpg"  alt="card image cap")
	.card-body
		p.card-title Central Park, Manhattan, NY
		p.card-subtitle $5,630,000
		p.card-text Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
		.card-benefits
			svg.card-benefits__svg
				use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
			p 2bd
			svg.card-benefits__svg
				use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
			p 1ba
			.card-benefits__size-of 756 sqft
