form(action="#").form
	.form-group
		label(for="city").form-control__label City
		select.custom-select.form-control(id="city")
			option(selected) New-York
			option(value="1") Kharkiv
			option(value="2") Kiev
			option(value="3") Moscow
	.form-group
		label(for="property").form-control__label Property Type
		select.custom-select.form-control(id="Property")
			option(selected) Center City
			option(value="1") Large Bed
			option(value="2") Small
			option(value="3") First
	.form-group
		label(for="purpose").form-control__label Purpose
		select.custom-select.form-control(id="Purpose")
			option(selected) One Day
			option(value="1") Week
			option(value="2") 2-3 days
			option(value="3") 1 month
	.form-group
		label(for="bedrooms").form-control__label Bedrooms
		select.custom-select.form-control(id="Bedrooms")
			option(selected) One
			option(value="1") Two
	.form-group
		label(for="bathroom").form-control__label Bathrooms
		select.custom-select.form-control(id="bathroom")
			option(selected) One
			option(value="1") Two
	.form-group
		label(for="price").form-control__label Price
		input(type="text" class="js-range-slider slider-cost" name="my_range" value="" id="price")
	.btn.btn-primary.btn-form Search properties
