.container
	.row.align-items-center.justify-content-between
		.col-lg-6.col-12
			.section-about-us__content
				h3.section-title.section-title--mrb-sm.--text-left About Us
				h5.section-description.--mrb-sm Nam a dui erat. Sed bibendum augue et porta consequat. Morbi id mattis sem. Phasellus quis magna ipsum. Donec malesuada nisi felis, vel vestibulum nisl volutpat faucibus. Suspendisse volutpat feugiat hendrerit. Donec ullamcorper ex sed gravida efficitur. Etiam tincidunt dui arcu, id varius dolor pulvinar vel.
				button.btn.btn-primary purchase theme
		.col-lg-5.col-12
			.section-about-us__video
				.embed-responsive.embed-responsive-4by3
					iframe.embed-responsive-item(src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen)
				.video-plug.JS-video
					img(src="./img/about-us-video-bg.jpg").resp-img 
					.video-play-button
