html,
body {
	overflow-x: hidden;
}
body {
	background-color: #080808;
	color: $primary;
}
.main {
	overflow: hidden;
	position: relative;
}

@media (max-width: 992px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
}

a {
	text-decoration: none;
}

.zindex-md {
	z-index: 5;
	position: relative;
}
@media (max-width: 1200px) {
	h1,
	.h1 {
		font-size: 80px;
		line-height: 80px;
	}
}
@media (max-width: 768px) {
	h1,
	.h1 {
		font-size: 40px;
		line-height: 40px;
	}
	h2,
	.h2 {
		font-size: 26px;
	}
}
