// Cover background image ------------------------------------
@mixin bgCover() {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// EXAMPLE: @include bgCover;

// Flex center alignment ------------------------------------
@mixin flexCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

// EXAMPLE: @include flexCenter;

// Position absolute center alignment ------------------------------------
@mixin absoluteCenter($position: null) {
	position: absolute;

	@if $position == "v" {
		top: 50%;
		transform: translate(0, -50%);
	} @else if $position == "h" {
		left: 50%;
		transform: translate(-50%, 0);
	} @else if $position == null {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// EXAMPLE: @include absoluteCenter;

// Absolute cover ------------------------------------
@mixin absoluteCover() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

// EXAMPLE: @include absoluteCover;

// Size of element ------------------------------------
@mixin sizeElement($width, $height: $width) {
	width: $width;
	height: $height;
}
