.breadcrumbs {
	padding-top: 80px;
	font-size: 15px;
	font-family: "Nunito Sans";
	letter-spacing: 0.15px;
	color: #a4a4a4;
	.breadcrumb {
		padding-left: 0;
		background-color: #fff;
	}
}
.agencies-form {
	margin-bottom: 50px;
	@media (max-width: 992px) {
		margin-bottom: 20px;
	}
	.btn {
		// margin-top: 30px;
		margin: 30px auto 0;
		display: block;
		width: 230px;
	}
}

.agency {
	.section-best-agencies {
		background-color: #f7f7f7;
		padding-top: 50px;
		padding-bottom: 100px;
		@media (max-width: 992px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	.agencies-list {
		margin-bottom: 70px;
	}
	.agencies-item {
		background-color: #fff;
	}
}
