.section-features {
  padding-bottom: 65px;
  position: relative;
  .section__title-container {
    margin-bottom: 20px;
    max-width: 280px;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
  .section__description-container {
    margin-bottom: 80px;
    max-width: 400px;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
  .card-item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @media (max-width: 1200px) {
      flex-direction: row;
    }
    &_img {
      margin-right: 30px;
      margin-bottom: 0px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.features-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  // transform: translateX(-170px);
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    // transform: translateX(0px);
  }
  .features-image {
    max-width: 100%;
    img {
      width: 100%;
    }
    z-index: 3;
  }

  .features-description {
    max-width: 430px;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
}
