.section-build {
  padding-bottom: 170px;
  position: relative;
  @media (max-width: 1250px) {
    padding-top: 500px;
    padding-bottom: 50px;
  }
  @media (max-width: 768px) {
    padding-top: 50px;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    img {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: 1250px) {
      left: 0;
      transform: translateX(50%);
      width: 50%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .build-content {
    &__description {
      max-width: 640px;
      @media (max-width: 1250px) {
        max-width: 100%;
      }
    }
  }
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
  }
  .title-container {
    max-width: 320px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }
  .descr-container {
    max-width: 380px;
    margin-bottom: 60px;
    @media (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }
  .card-item {
    max-width: 260px;
    @media (max-width: 478px) {
      max-width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-item_img {
      margin-bottom: 15px;
    }
    .card-title {
      margin-top: 15px;
    }
  }
  .btn {
    @media (max-width: 550px) {
      width: 100%;
    }
  }
}
