.section-buy {
  text-align: center;
  padding-bottom: 105px;
  border-bottom: 2px solid #e5e6e5;
  .title {
    margin: 0 auto 35px;
    max-width: 568px;
  }
  .descr {
    margin: 0 auto 75px;
    max-width: 632px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  .buy-container {
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      .buy-about {
        display: none;
      }
    }
  }

  .nav-pills {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 283px;
    margin: 0 auto 39px;
    padding: 5px;
    border-radius: 28.5px;
    border: solid 2px #ebebeb;
  }
  .nav-item {
    border-radius: 28.5px;
    & .active {
      background-color: #2500f9;
    }
  }
  .nav-link {
    width: 136px;
    height: 48px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(97, 99, 104, 0.75);
  }
}
