.section-features {
  padding-bottom: 65px;
  position: relative;
  .title {
    margin-bottom: 20px;
    max-width: 280px;
  }
  .descr-container {
    margin-bottom: 80px;
    max-width: 400px;
  }
  .card-item {
    display: flex;
    // align-items: center;
    max-width: 100%;
    &_img {
      margin-right: 30px;
      margin-bottom: 0px;
      @media (max-width: 576px) {
        width: 88px !important;
        height: 88px;
        align-self: center;
        margin: 0 5px 0 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
    & .card-title {
      // margin: 5px;
    }
    & .card-descr {
      max-width: 260px;
      @media (max-width: 576px) {
        max-width: 100%;
      }
    }
  }
}
.features-list {
  display: flex;
  flex-direction: row;

  .features-item {
    transform: translateX(-100px);
    @media (max-width: 1200px) {
      transform: translateX(0px);
    }
  }
  .features-item:last-child {
    padding-top: 55px;
    @media (max-width: 992px) {
      z-index: 3;
      padding-top: 20px;
    }
  }
}
