.section-download {
  padding: 10px 0px;
  .title-container {
    margin-bottom: 30px;
  }
  .descr-container {
    margin-bottom: 50px;
  }
}
.descr-container {
  margin-bottom: 40px;
}

.download-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  .download-content {
    &__image {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__description {
    @media (max-width: 1200px) {
      text-align: center;
    }
  }
}
