.section-ask {
  padding: 40px 0px 110px;
  border-bottom: 2px solid #e5e6e5;
  .title-container {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .descr-container {
    max-width: 630px;
    width: 100%;
    margin: 0 auto 66px;
    text-align: center;
  }
  .accordion-container {
    max-width: 960px;
    margin: 0 auto;
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }
}
.ask-container {
  padding: 0px 38px 0px 49px;
  background-color: #f5f7fa;
  // margin-bottom: 10px;
  margin: 0 auto 10px;
  cursor: pointer;
  @media (max-width: 992px) {
    padding: 10px;
  }
  .ask-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-header__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 2.9;
      margin-right: 10px;
      color: #242f51;
      @media (max-width: 992px) {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  .ask-svg {
    width: 19px;
    height: 19px;
    opacity: 1;
    &_off {
      opacity: 0;
    }
  }
  .ask-descr {
    max-width: 808px;
  }
  .ask-body {
    padding-top: 20px;
    padding-bottom: 78px;
  }
}
