.section-footer {
  padding: 100px 0px;
  background-color: #09142e;
  @media (max-width: 532px) {
    padding: 30px 0px;
  }
  .logo_container {
    margin-bottom: 32px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    @media (max-width: 530px) {
      flex-direction: column;
    }
    .nav-item {
      margin-right: 38px;
      &:last-child {
        margin-right: 0px;
      }
      @media (max-width: 530px) {
        margin-right: 0px;
      }
    }
  }
  .nav-link {
    color: #fff;
    transition: 0.3s all;
    &:hover {
      opacity: 0.5;
    }
  }
  .social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    .social-item {
      margin-right: 20px;
      transition: 0.3s all;
      cursor: pointer;
    }
    .social-svg {
      width: 28px;
      height: 30px;
      fill: #273043;
      transition: 0.3s all;
      &:hover {
        fill: #fff;
      }
    }
  }
}
.copyright {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.21);
}
