.footer {
	background-color: #212121;
	&-title {
		color: #fff;
		margin-bottom: 20px;
	}
	&__about-description {
		font-size: 16px;
		font-family: "Nunito Sans";
		margin-bottom: 20px;
	}
	&__about-description,
	.nav-link,
	.mail .phone-number,
	a {
		color: #c5c5c5;
	}
	.nav-link,
	a {
		transition: 0.3s all;
		&:hover {
			opacity: 0.6;
		}
	}
	&__nav {
		.navbar-nav {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row: 1fr;
		}
		.nav-link {
			padding: 3px 0px;
		}
		&-title {
			color: #fff;
			margin-bottom: 20px;
		}
		.nav-link {
			font-size: 16px;
		}
	}
	.contact-item {
		font-size: 16px;
		line-height: 1.75;
	}
	&__about {
		@media (max-width: 1200px) {
			margin-bottom: 40px;
		}
	}
	&__nav {
		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}
}

// property footer svg
.footer--properties {
	background-color: #212121;
	padding-top: 46px;
	padding-bottom: 46px;
	max-width: 50%;
	@media (max-width: 1200px) {
		max-width: 100%;
	}
	.social-svg-links {
		justify-content: center;
		margin-bottom: 15px;
	}
}
