.section-properties {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	&__bg {
		position: absolute;
		z-index: -1;
		top: 50px;
	}
	.properties__map {
		height: 100%;
		@media (max-width: 1200px) {
			height: 400px;
			margin-bottom: 30px;
		}
	}
	.google-map {
		height: 100%;
	}
}
