.section-contact {
	padding-top: 53px;
	padding-bottom: 53px;
	background-color: $primary;
	color: #fff;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}
	&__description {
		max-width: 570px;
		@media (max-width: 992px) {
			max-width: 100%;
		}
		font-size: 26px;
		letter-spacing: -0.4;
		@media (max-width: 992px) {
			margin-bottom: 30px;
		}
	}
	.btn {
		@media (max-width: 992px) {
			width: 100%;
		}
	}
}
