.single-property {
	padding-bottom: 50px;
	.form-property {
		background-color: #ececec;
	}
	.card-item {
		@media (max-width: 1200px) {
			margin: 0 auto 30px;
		}
	}
}

.title-top {
	display: flex;
	color: #fff;
	font-family: "Nunito Sans";
	font-size: 18px;
	font-weight: 600;
	@media (max-width: 550px) {
		flex-direction: column;
	}
	&__title {
		background-color: #00bd74;
		padding: 20px 15px 17px;
		flex: 1;
		border-top-left-radius: $border-radius;
		@media (max-width: 550px) {
			border-radius: 0;
			text-align: center;
		}
	}
	&__price {
		border-top-right-radius: $border-radius;
		background-color: #00935a;
		padding: 20px 15px 17px;
		@media (max-width: 550px) {
			border-radius: 0;
			text-align: center;
		}
	}
}

.single-property-title {
	margin-bottom: 40px;
	font-size: 26px;
	color: #171717;
}

.property-features__list {
	margin-bottom: 70px;
}

.property-item {
	display: flex;
	font-family: "Nunito Sans";
	font-size: 18px;
	line-height: 1.44;
	color: #4e4e4e;
	margin-bottom: 15px;
	&__check {
		color: $primary;
		margin-right: 15px;
	}
}
