.btn {
	font-weight: 600;
	text-transform: uppercase;
}

@media (max-width: 992px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
}

.section-title {
	font-weight: 600;
	margin: 0 auto;
	color: #171717;
	margin-bottom: 35px;
	text-align: center;
}
.section-subtitle {
	font-family: "Nunito Sans";
	line-height: 1.44;
	color: #4e4e4e;
	text-align: center;
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	&--mrb65 {
		margin-bottom: 65px;
	}
}

.section-copyright {
	background-color: #191919;
	padding: 28px;
	&__title {
		text-align: center;
		font-family: "Nunito Sans";
		font-size: 16px;
		line-height: 1.75;
		color: #7b7b7b;
	}
}
.btn-outline--lite {
	border-color: #fff;
	color: #fff;
	display: block;
	max-height: 50px;
	height: 100%;
	&:hover {
		color: #171717;
		background-color: #fff;
	}
}

.btn-secondary {
	color: #fff;
	background-color: #b2b2b2;
	border-color: #b2b2b2;
	&:hover {
		background-color: #8c8c8c;
		border-color: #8c8c8c;
	}
}

.header-plug {
	padding-bottom: 70px;
}

.card-img-top {
	position: relative;
	padding-bottom: 220px;
}

.breadcrumb {
	padding-top: 25px;
	padding-bottom: 25px;
}
