.btn {
	font-weight: 600;
	text-transform: uppercase;
}

.section-title {
	font-weight: 600;
	margin: 0 auto;
	color: #171717;
	margin-bottom: 35px;
	text-align: center;
}
.section-subtitle {
	font-family: "Nunito Sans";
	line-height: 1.44;
	color: #4e4e4e;
	text-align: center;
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	&--mrb65 {
		margin-bottom: 65px;
	}
}
