@media (max-width: 992px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
}

.section-title {
	font-weight: 600;
	color: #171717;
	text-align: center;
	&--mrb-sm {
		margin-bottom: 30px;
	}
	&--mrb-md {
		margin-bottom: 35px;
	}
	&.--text-left {
		text-align: left;
	}
}

.section-description {
	font-family: "Nunito Sans";
	line-height: 1.44;
	color: #4e4e4e;
	&.--color-white {
		color: #fff;
	}
	&.--descr-center {
		text-align: center;
		max-width: 550px;
		margin: 0 auto;
	}
	&.--mrb-sm {
		margin-bottom: 30px;
	}
	&.--mrb-md {
		margin-bottom: 65px;
	}
	& p {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.section-copyright {
	background-color: #191919;
	padding: 28px;
	&__title {
		text-align: center;
		font-family: "Nunito Sans";
		font-size: 16px;
		line-height: 1.75;
		color: #7b7b7b;
	}
}

.header-plug {
	padding-bottom: 70px;
}
.section--bg-dark {
	background-color: #f7f7f7;
}
.section--bg-grey {
	background-color: #212121;
}
.section--pd-md {
	padding-top: 100px;
	padding-bottom: 100px;
	@media (max-width: 992px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

section {
	position: relative;
}

// about us main links style
.about-us-img-top {
	position: relative;
	padding-bottom: 540px;
	@media (max-width: 992px) {
		padding-bottom: 250px;
	}
}
