.single-property {
	padding-bottom: 50px;
	.form-property {
		background-color: #ececec;
	}
}

.title-top {
	display: flex;
	color: #fff;
	font-family: "Nunito Sans";
	font-size: 18px;
	font-weight: 600;
	&__title {
		background-color: #00bd74;
		padding: 20px 15px 17px;
		flex: 1;
		border-top-left-radius: $border-radius;
	}
	&__price {
		border-top-right-radius: $border-radius;
		background-color: #00935a;
		padding: 20px 15px 17px;
	}
}

.single-property-title {
	margin-bottom: 40px;
	font-size: 26px;
	color: #171717;
}

.property-features__list {
	margin-bottom: 70px;
}

.property-item {
	display: flex;
	font-family: "Nunito Sans";
	font-size: 18px;
	line-height: 1.44;
	color: #4e4e4e;
	margin-bottom: 15px;
	&__check {
		color: $primary;
		margin-right: 15px;
	}
}

.floor-plan {
	&__list {
		display: flex;
		flex-direction: row;
		margin-bottom: 70px;
	}
	&__item {
		margin-right: 20px;
		position: relative;
	}
	&-item__container {
		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
}
