.btn-style-bg-primery {
  font-size: 14px;
  width: 225px;
  height: 56px;
  border-radius: 3px;
  font-weight: 700;
}
.btn-style-lg-primery {
  width: 145px;
  height: 46px;
}

.btn-style-bg-outline {
  font-size: 14px;
  width: 225px;
  height: 52px;
  border-radius: 3px;
  font-weight: 700;
}
