.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #f4f5f9;
  border-radius: 50%;
  color: $primary;
  font-size: 24px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}
