.button-group {
  padding-bottom: 50px;
  & .button {
    display: inline-block;
    outline: none;
    padding: 0.5em 1em;
    border: none;
    color: #999999;
    font-size: 14px;
    background-color: white;
    transition: all 0.2s;
    &:active {
      text-shadow: none;
    }
    &:hover,
    &.is-checked {
      color: $primary;
      text-shadow: 0 0 1px $primary;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.opacity-container {
  display: none;
}
.element-item {
  position: relative;
  // width: 25%;
  min-width: 25%;
  @media (max-width: 992px) {
    min-width: 50%;
  }
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  & img {
    display: block;
    position: absolute;
    // max-width: 100%;
    width: 100%;
    height: 100%;
  }

  &:hover {
    position: relative;
    transition: all 0.3s;
    & .opacity-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      text-align: left;
      padding-left: 30px;
      padding-bottom: 30px;
      .p-title {
        color: white;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-image: linear-gradient(
        to top,
        rgba($primary, 0.7) 0%,
        rgba($primary, 0.7) 100%
      );
    }
  }
}
