.section-cooperation {
  background-color: #f4f5f9;
  border-bottom: 1px solid #d8d9db;
  & .container-coop {
    background-color: #fff;
    width: 210px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    & img {
      filter: grayscale(100%);
      opacity: 0.5;
    }
    &:hover {
      background-color: $primary;
      box-shadow: 0px 0px 31px 4px rgba(0, 0, 0, 0.45);
    }
  }
}
