.app-search {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	&__link {
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__svg {
		width: 100%;
		height: 100%;
		fill: #b6b8ba;
		transition: 0.3s all;
		&:hover {
			fill: $secondary;
		}
	}
}
