.contact {
	&-list {
		text-align: center;
		color: white;
		margin-bottom: 30px;
		a {
			color: white;
		}
	}
	&-item {
		font-family: "Helvetica Neue Condensed";
		letter-spacing: 1px;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
