.navbar {
	font-family: "Helvetica Neue";
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff;
	width: 100%;
	.nav-item {
		margin-right: 24px;
		&:last-child {
			margin-right: 0px;
		}
		@media (max-width: 992px) {
			margin-right: 0px;
		}
	}
	.nav-link.active {
		color: $secondary;
	}
	&-nav {
		align-items: center;
	}
	&__bottom {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
.navbar-wrapper {
	display: flex;
	justify-content: space-around;
	z-index: 100;
	position: sticky;
	top: 0;
	@media (max-width: 992px) {
		position: fixed;
		top: 0;
		width: 100%;
	}
	@media (max-width: 1100px) {
		-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
	}
	&_down {
		-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
	}
}

.navbar-collapse {
	transition: 0.3s all;
}
.navbar-toggler {
	padding-left: 0px;
}
