.breadcrumbs {
	font-size: 15px;
	font-family: "Nunito Sans";
	letter-spacing: 0.15px;
	color: #a4a4a4;
	.breadcrumb {
		padding-left: 0;
		background-color: #fff;
		margin-bottom: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
