.btn {
	font-weight: 600;
	text-transform: uppercase;
}
.btn-outline--lite {
	border-color: #fff;
	color: #fff;
	display: block;
	max-height: 50px;
	height: 100%;
	&:hover {
		color: #171717;
		background-color: #fff;
	}
}

.btn-secondary {
	color: #fff;
	background-color: #b2b2b2;
	border-color: #b2b2b2;
	&:hover {
		background-color: #8c8c8c;
		border-color: #8c8c8c;
	}
}
