.header {
	// max-height: 70px;
	// height: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	position: fixed;
	min-height: 70px;
	width: 100%;
	z-index: 100;
	.brand-svg {
		@include sizeElement(25px);
		margin-right: 12px;
		fill: $primary;
	}
	.navbar-brand {
		display: flex;
		// margin-right: 175px;
	}
	.brand-title {
		color: #171717;
		font-weight: 500;
		font-size: $font-size-base;
	}
	.nav-item {
		margin-right: 5px;
		@media (max-width: 992px) {
			text-align: center;
			margin-bottom: 10px;
			// &:last-child {
			// 	margin-bottom: 0px;
			// }
			&:first-child {
				margin-top: 20px;
			}
		}
	}
	.nav-link {
		text-transform: uppercase;
		transition: 0.2s all;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.6px;
		&:hover,
		&.active {
			color: #fff;
			background-color: $primary;
			border-radius: $border-radius;
		}
	}
	.login-content {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 12px;
		@media (max-width: 992px) {
			justify-content: flex-end;
		}
		@media (max-width: 552px) {
			justify-content: center;
		}

		&__svg {
			fill: $primary;
			@include sizeElement(14px);
			margin-right: 10px;
		}
		&__container {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		&__login {
			padding-right: 8px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 1px;
				height: 100%;
				top: 0;
				left: 100%;
				background-color: #171717;
			}
		}
		&__register {
			margin-left: 8px;
		}
		&__login,
		&__register {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.JS-header_down {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
