.info-list {
	font-family: "Nunito Sans";
	font-size: 16px;
	line-height: 2.25;
	color: #6b6b6b;
	@media (max-width: 1200px) {
		margin-bottom: 30px;
	}
	&.--center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&.--mrb-md {
		margin-bottom: 20px;
	}
}
.info-item {
	display: flex;
	// @media (max-width: 768px) {
	// 	flex-direction: column;
	// }
	&__description {
		// font-weight: 600;
		color: #171717;
		margin-right: 10px;
	}
	&__link {
		font-weight: 500;
	}
}
