.single-post {
	& .--mb-md {
		margin-bottom: 70px;
	}
	& .--mb-sm {
		margin-bottom: 30px;
	}
	&__wrapper {
		position: relative;
		background-color: #696969;
		border-radius: $border-radius;
		&--pd-md {
			padding-bottom: 480px;
		}
		&--pd-sm {
			padding-bottom: 440px;
		}
	}
	&__about {
		@include absoluteCenter;
		min-width: 100%;
		color: #fff;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		.section-title {
			color: #fff;
			margin-bottom: 15px;
		}
	}
	&__date {
		font-size: 12px;
	}
	.section-description {
		padding: 0 195px;
		@media (max-width: 992px) {
			padding: 0;
		}
		& p:nth-child(2) {
			font-style: italic;
			font-weight: 600;
			color: #171717;
		}
	}
	&-title {
		font-size: 26px;
		font-weight: 600;
		padding: 0 195px;
		@media (max-width: 992px) {
			padding: 0;
		}
	}
	&-form {
		padding: 0 195px;
		@media (max-width: 992px) {
			padding: 0;
		}
	}
}
