.slider-comment-item {
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__img {
		margin: 0 auto 70px;
	}
	&__title {
		max-width: 630px;
		text-align: center;
		font-family: "Nunito Sans";
		margin-bottom: 35px;
	}
	&__person {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
