.footer {
	background-color: #212121;
	padding: 100px 0;
	&__about-title,
	&__contact-title {
		color: #fff;
		margin-bottom: 20px;
	}
	&__about-description {
		font-size: 16px;
		font-family: "Nunito Sans";
		margin-bottom: 20px;
	}
	&__about-description,
	.nav-link,
	.mail .phone-number,
	a {
		color: #c5c5c5;
	}
	.nav-link,
	a {
		transition: 0.3s all;
		&:hover {
			opacity: 0.6;
		}
	}
	&__nav {
		.navbar-nav {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row: 1fr;
		}
		.nav-link {
			padding: 3px 0px;
		}
		&-title {
			color: #fff;
			margin-bottom: 20px;
		}
		.nav-link {
			font-size: 16px;
		}
	}
	.contact-item {
		font-size: 16px;
		line-height: 1.75;
	}
	&__about {
		@media (max-width: 1200px) {
			margin-bottom: 40px;
		}
	}
	&__nav {
		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}
}
.about-social {
	display: grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20px, 0fr));
	grid-gap: 15px;
	.social-svg {
		@include sizeElement(20px);
		fill: #fff;
		cursor: pointer;
		transition: 0.3s all;
		&:hover {
			opacity: 0.6;
		}
	}
}
