.form {
	background-color: #f7f7f7;
	padding: 20px 25px;
	border-radius: $border-radius;
	position: relative;
	label {
		font-family: "Nunito Sans";
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 5px;
		margin-top: 20px;
	}
	.custom-select {
		// font-family: "Nunito Sans";
		// font-size: 16px;
		// padding: 0px 15px;
		// height: 42px;
		// margin-bottom: 20px;
	}
	.btn-form {
		width: 100%;
	}
	.custom-select:focus {
		box-shadow: none;
		border: none;
	}
}
.select2-container--default .select2-selection--single {
	border: solid 1px #ececec;
	height: 42px;
	display: flex;
	align-items: center;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 17px;
	font-family: "Nunito Sans";
	font-size: 16px;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background-color: $primary;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	top: 10;
}

.select2-container--open .select2-dropdown--below {
	border: solid 1px #ececec;
}

.select2-container--open .select2-dropdown--below,
.custom-select {
	font-family: "Nunito Sans";
	font-size: 16px;
}
.select2-results__option {
	padding-left: 17px;
}
