.cooperation-description {
	font-family: "Nickelodeon 2001 Headline";
	font-size: 36px;
	text-transform: uppercase;
	z-index: 2;
	position: relative;
	&__container {
		transform: translateY(-115px);
	}
	@media (max-width: 1200px) {
		font-size: 24px;
	}
}
