.figure-container {
	position: relative;
	width: 400px;
	height: 300px;
	@media (max-width: 768px) {
		width: 200px;
		height: 150px;
	}
	&--mb-sm {
		margin-bottom: 70px;
		@media (max-width: 768px) {
			// margin-bottom: 40px;
		}
	}
	&--mb-md {
		margin-bottom: 150px;
		@media (max-width: 768px) {
			margin-bottom: 90px;
		}
	}
	img {
		height: 100%;
		&.--transform-sm {
			transform: translateX(50px);
		}
		&.--transform-md {
			transform: translateX(170px);
			@media (max-width: 786px) {
				transform: translateX(50px);
			}
		}
	}
}
