.title {
	font-family: "Nickelodeon 2001 Headline";
	text-transform: uppercase;
	@media (max-width: 460px) {
		position: relative;
		z-index: 3;
	}
	&--absolute {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 2;
	}
	&-container {
		position: relative;
	}
}
