.feature {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		gap: 2px;
		position: relative;
		@media (max-width: 768px) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}
	&-item {
		position: relative;
		&:hover {
			&:before,
			& .feature-item__title {
				opacity: 1;
			}
		}
		&__img-top {
			padding-bottom: 208px;
		}
		&__title {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			z-index: 2;
			opacity: 0;
			font-size: $font-size-base;
		}
	}
}
