.form {
	&-group {
		position: relative;
	}
	&-control {
		padding-right: 100px;
		font-size: 14px;
		@media (max-width: 576px) {
			padding-right: 80px;
			&::placeholder {
				font-size: 12px;
			}
		}
	}
	&-btn {
		position: absolute;
		top: 50%;
		right: 5px;
		height: 80%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__svg {
		width: 25px;
		height: 25px;
	}
}

.welcome {
	& .form-group {
		margin-bottom: 20px;
	}
}

.footer {
	.form {
		&-group {
			margin-bottom: 0px;
		}
		&-control {
			padding: 20px 100px 20px 27px;
			font-size: 18px;
			border: 1px solid #474747;
			&:hover,
			&:focus {
				border: 1px solid $white;
			}
			&::placeholder {
				color: #474747;
			}
		}
		&-btn {
			font-size: 14px;
		}
	}
}
