.navbar {
	padding: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.02em;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&-item {
		justify-content: flex-end;
		transition: 0.3s all;
	}
	&-nav {
		display: flex;
		flex-direction: row;
	}
	&-brand {
		padding: 0px;
	}
	& .nav-link {
		text-decoration: none;
	}
	& .nav-item {
		margin-right: 45px;
	}
	&-toggler {
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.navbar {
		&-item {
			justify-content: center;
			flex-direction: column;
		}
		&-nav {
			flex-direction: column;
			padding-top: 30px;
			padding-bottom: 30px;
			text-align: center;
		}
		& .nav-item {
			margin-right: 0px;
		}
	}
	.login-content {
		width: 100%;
		justify-content: space-between;
	}
}
