.slider-nav {
	z-index: 10;
	display: inline-flex;
	&.slider-nav__absolute {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		justify-content: space-between;
	}
	& &__footage {
		position: relative;
	}
	&_item {
		width: 42px;
		height: 42px;
		border: 2px solid #3f3f3f;
		border-radius: 50%;
		transition: 0.3s all;
		cursor: pointer;
		&:hover {
			border-color: $white;
		}
	}
}
.slider-nav_prev {
	background: url("./img/left.svg") no-repeat center center;
}
.slider-nav_next {
	background: url("./img/right.svg") no-repeat center center;
}

.video-collection {
	& .slider-nav_item {
		border-color: $white;
	}
	& .slider-nav_prev {
		position: absolute;
		left: 50px;
		@media (max-width: 1380px) {
			left: 15px;
		}
	}
	& .slider-nav_next {
		position: absolute;
		right: 50px;
		@media (max-width: 1380px) {
			right: 15px;
		}
	}
	& .swiper-pagination {
		@media (max-width: 1380px) {
			position: relative;
			text-align: center;
		}
	}
	& .swiper-pagination-bullet {
		@media (max-width: 1380px) {
			width: 10px;
			height: 10px;
		}
	}
}

.slider-nav__footage {
	& .slider-nav_item {
		margin-right: 10px;
	}
}

.review {
	& .slider-nav_prev {
		position: absolute;
		left: -50px;
	}
	& .slider-nav_next {
		position: absolute;
		right: -50px;
	}
	@media (max-width: 1380px) {
		& .slider-nav_prev {
			top: 100%;
			left: 0;
		}
		& .slider-nav_next {
			top: 100%;
			right: 0;
		}
	}
}
