@media (max-width: 992px) {
  .bg-mobile {
    position: absolute;
    height: 100%;
    top: 0;
    &_right {
      right: 0;
    }
    &_left {
      left: 0;
    }
    img {
      height: 100%;
    }
  }
}
@media (max-width: 1200px) {
  .bg-mobile_big {
    position: absolute;
    height: 100%;
    top: 0;
    &_right {
      right: 0;
    }
    &_left {
      left: 0;
    }
    img {
      height: 100%;
    }
  }
}
