.btn-prime {
  background-color: $btn-blue;
  color: #fff;
  height: 57px;
  border-radius: 28.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $orange;
  }
  &_s {
    width: 170px;
  }
  &_m {
    width: 210px;
  }
}
.btn-out-bg {
  color: $btn-blue;
  &:hover {
    color: $orange;
  }
}
