// own color
$blue-card: #2563ff;
$red-card: #f55767;
$green-card: #40975f;

// btn color
$btn-blue: #2500f9;

// substrate подложка

$sub-yellow: #fff6d3;
$sub-red: #ffecef;
$sub-green: #e4ffee;
$sub-blue: #eaf9ff;
$sub-purpur: #f4f4ff;
$sub-orange: #fdeee4;
