.header {
  padding-top: 90px;
  @media (max-width: 991px) {
    position: fixed;
    width: 100%;
    z-index: 200;
    padding-top: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
.navbar {
  padding: 0px;
  & .nav-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 50px;
    }
  }
  & .nav-link {
    transition: 0.3s all;
    &:hover {
      color: $btn-blue;
    }
  }
}
