.navbar {
  padding: 0px;
  & .nav-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 50px;
    }
  }
  & .nav-link {
    transition: 0.3s all;
    &.active {
      color: $btn-blue;
    }
    &:hover {
      color: $btn-blue;
    }
  }
  @media (max-width: 991px) {
    .navbar-nav {
      align-items: center;
      .nav-item {
        margin-right: 0px;
      }
    }
  }
}
