.header {
  .navbar {
    padding: 0px;
    &-nav {
      @media (max-width: 992px) {
        align-items: center;
      }
    }
    & .nav-item {
      margin-right: 20px;
      @media (max-width: 992px) {
        margin-right: 0px;
      }
      .nav-link {
        color: $secondary;
        &:hover,
        &.active {
          color: $primary;
        }
      }
      &:last-child {
        margin-right: 50px;
        @media (max-width: 992px) {
          margin-right: 0px;
        }
      }
    }
  }
}
