.title {
  font-weight: 600;
  color: #242f51;
  line-height: 1.28;
  &--sm {
    font-size: 36px;
  }
  &--md {
    font-size: 40px;
    line-height: 1.25;
  }
  &--lg {
    font-size: 46px;
    line-height: 1.21;
  }
  @media (max-width: 992px) {
    &--sm {
      font-size: 30px;
    }
    &--md {
      font-size: 34px;
    }
    &--lg {
      font-size: 40px;
    }
  }
}
