
// connection SCRIPT
script(src='..//libs/jquery/jquery.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgLezKvC0Eo0-UNTfxyqlLWFp4QN4nw0' defer)
script(src='..//libs/ion.rangeSlider-master/ion.rangeSlider.min.js')
script(src='..//libs/slick-1.8.1/slick/slick.min.js')
script(src='..//libs/bootstrap/bootstrap.bundle.min.js')
script(src='..//js/main.js')
// connection SCRIPT END