html(lang="en")
	include components/_head.pug
	body
		include components/_header.pug
		.about-us
			.container
				.breadcrumbs
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#") Home
							li(class="breadcrumb-item active")
								a(href="about-us.html") About US
				img(src="./img/about-us_first_img.jpg").about-us__main-img
		section.section-about-us
			include components/parts/_section-about-us.pug
		section.about-us-features
			.container
				.about-us-features__list
					.about-us-features__item
						<i class="fas fa-anchor"></i>
						p.about-us-features__title Creative Ideas
						p.about-us-features__subtitle Be set fourth land god darkness make it wherein own
					.about-us-features__item
						<i class="far fa-star"></i>
						p.about-us-features__title Realy clean code
						p.about-us-features__subtitle A she'd them bring void moving third she'd kind fill
					.about-us-features__item
						<i class="far fa-heart"></i>
						p.about-us-features__title Support 24/7
						p.about-us-features__subtitle Dominion man second spirit he,earth they're creeping
					.about-us-features__item
						<i class="fas fa-umbrella"></i>
						p.about-us-features__title Talanted team
						p.about-us-features__subtitle Morning his saying moveth it multiply appear life be
		include components/_scripts.pug