html(lang="en")
	include components/_head.pug
	body.agency
		include components/_header.pug
		+header('agencies')
		.breadcrumbs
			.container
				nav(aria-label="breadcrumb")
					ol(class="breadcrumb")
						li(class="breadcrumb-item")
							a(href="#") Home
						li(class="breadcrumb-item active")
							a(href="agency.html") Agencies
		form(action="#").form.agencies-form
			.container
				.row
					.col-md-4.col-12
						.form-group
							label(for="city") City
							select.custom-select(id="city").form-control
								option(selected) New-York
								option(value="1") Kharkiv
								option(value="2") Kiev
								option(value="3") Moscow
					.col-md-4.col-12
						.form-group
							label(for="purpose") Purpose
							select.custom-select(id="purpose").form-control
								option(selected) New-York
								option(value="1") Kharkiv
								option(value="2") Kiev
								option(value="3") Moscow
					.col-md-4.col-12
						.form-group
							label(for="keywords") Keywords
							input(type="search" id="site-search" name="keyword").search-keywords
				.btn.btn-lg.btn-primary search agencies
		section.section--pd-md.section--bg-dark.text-center
			.container
				ul.card-list.card-list--sm.card-list--mrb-md
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
					li.card-item
						.card.card--border
							.card__img-top.card__img-top--sm
								img.card__img(src="./img/agenci-bg1.png" alt="acencies first").resp-img
							.card__body.card__body--center
								h5.card__title Real Estate TX Agency
								.card__description Morbi vel mauris feugiat, sodales mi eu, pharetra.
								button.btn.btn-secondary view profile
				.btn.btn-primary.btn-lg load more
		section.section-contact
			include components/parts/_section-contact.pug
		footer.footer.section--pd-md
			include components/_footer.pug
		section.section-copyright
			include components/parts/_section-copyright.pug
		include components/_scripts.pug
