html(lang="en")
	include components/_head.pug
	body
		include components/_header.pug
		+header('properties')
		.properties-container.section--bg-dark
			form(action="#").form.form-property
				.container-fluid
					.row
						.col-md-6.col-12
							.form-group
								label(for="city") City
								select.custom-select.form-control(id="city")
									option(selected) New-York
									option(value="1") Kharkiv
									option(value="2") Kiev
									option(value="3") Moscow
						.col-md-6.col-12
							.form-group
								label(for="property") Property Type
								select.custom-select.form-control(id="Property")
									option(selected) Center City
									option(value="1") Large Bed
									option(value="2") Small
									option(value="3") First
						.col-md-6.col-12
							.form-group
								label(for="purpose") Purpose
								select.custom-select.form-control(id="Purpose")
									option(selected) One Day
									option(value="1") Week
									option(value="2") 2-3 days
									option(value="3") 1 month
						.col-md-6.col-12
							.form-group
								label(for="bedrooms") Bedrooms
								select.custom-select.form-control(id="Bedrooms")
									option(selected) One
									option(value="1") Two
									label(for="bathroom") Bathrooms
						.col-md-6.col-12
							.form-group
								label(for="bathroom") Bathrooms
								select.custom-select.form-control(id="bathroom")
									option(selected) One
									option(value="1") Two
						.col-md-6.col-12
							.form-group
								label(for="keywords") Keywords
								input(type="search" form-control id="site-search" name="keyword").search-keywords
						.col-lg-12
							.form-group
								label(for="price") Price
								input.form-control(type="text" class="js-range-slider slider-cost" name="my_range" value="" id="price-properties")
						.btn.btn-primary.btn-form Search properties
			.main-link__properties-map
				.google-map.JS-googleMap(id="JS-map")
			.properties-container__cards
				.container-fluid
					ul.card-list.card-list--mrb-sm
						li.card-item
							.card
								.card__img-top
									img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
								.card__body
									h5.card__title Central Park, Manhattan, NY
									p.card__subtitle $5,630,000
									p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
									.benefits
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
												p.benefits__title 2bd
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
												p.benefits__title 1ba
											.benefits__item
												p.benefits__title 756 sqft
						li.card-item
								.card
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
												p.benefits__title 2bd
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
												p.benefits__title 1ba
											.benefits__item
												p.benefits__title 756 sqft
						li.card-item
								.card
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
												p.benefits__title 2bd
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
												p.benefits__title 1ba
											.benefits__item
												p.benefits__title 756 sqft
						li.card-item
								.card
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
												p.benefits__title 2bd
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
												p.benefits__title 1ba
											.benefits__item
												p.benefits__title 756 sqft
						li.card-item
								.card
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
												p.benefits__title 2bd
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
												p.benefits__title 1ba
											.benefits__item
												p.benefits__title 756 sqft
						.properties-container__card-item
								.card
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
												p.benefits__title 2bd
											.benefits__item
												svg.benefits__svg
													use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
												p.benefits__title 1ba
											.benefits__item
												p.benefits__title 756 sqft
					.btn.btn-primary.btn-lg load more
		footer.footer.footer--properties
			ul.social-svg-links
				li.social-item
					a.social-link
						svg.social-svg
							use(xlink:href="./img/svg/social-svg.svg#icon-facebook" class="svg") 
				li.social-item
					a.social-link
						svg.social-svg
							use(xlink:href="./img/svg/social-svg.svg#icon-twitter" class="svg") 
				li.social-item
					a.social-link
						svg.social-svg
							use(xlink:href="./img/svg/social-svg.svg#icon-instagram" class="svg") 
				li.social-item
					a.social-link
						svg.social-svg
							use(xlink:href="./img/svg/social-svg.svg#icon-behance" class="svg")  
				li.social-item
					a.social-link
						svg.social-svg
							use(xlink:href="./img/svg/social-svg.svg#icon-pinterest" class="svg")
			.section-copyright__title © 2020 . All rights reserved.
		include components/_scripts.pug
		
