html(lang="en")
	include components/_head.pug
	body
		include components/_header.pug
		+header()
		.breadcrumbs
			.container
				nav(aria-label="breadcrumb")
					ol(class="breadcrumb")
						li(class="breadcrumb-item")
							a(href="index.html") Home
						li(class="breadcrumb-item")
							a(href="#") Card
						li(class="breadcrumb-item active")
							a(href="single-agency.html") Single Agency
		section.single-agency
			.container
				.row
					.col-xl-8
						.single-agency-top
							.single-agency-top__img
								.img-container
									img(src="./img/single-agency-logo.jpg").resp-img
							.single-agency-top__title
								.section-title.section-title--sm.--text-left Real Estate New York Acgency
								.single-agency-top__subtitle Unated States, New York
						.section-description.--mrb-md
							p Aliquam fermentum erat eu nunc dignissim hendrerit. Praesent tellus, orci imperdiet id set accumsan in, cursus eu mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum lacus nec leo tincidunt, blandit rhoncus elit aliquam. Duis maximus sed velit sed pellentesque. Phasellus nec dapibus dolor. Ut nec augue quis dolor bibendum mattis vel eu turpis. Suspendisse molestie augue massa, vitae eleifend ante.
							p Praesent sed elit id ipsum tempor bibendum a ut arcu. Vivamus rutrum leo at nulla luctus finibus. Donec molestie ipsum ac orci volutpat, nec consectetur urna venenatis. Cras sagittis enim vel purus volutpat dignissim. Maecenas quis varius tortor.
						.single-property-title Listings
						ul.card-list.card-list--mrb-md
							li.card-item
								.card.card--border
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits.benefits--grid-sm
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
													p.benefits__title 2bd
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
													p.benefits__title 1ba
												.benefits__item
													p.benefits__title 756 sqft
							li.card-item
								.card.card--border
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits.benefits--grid-sm
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
													p.benefits__title 2bd
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
													p.benefits__title 1ba
												.benefits__item
													p.benefits__title 756 sqft
							li.card-item
								.card.card--border
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits.benefits--grid-sm
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
													p.benefits__title 2bd
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
													p.benefits__title 1ba
												.benefits__item
													p.benefits__title 756 sqft
							li.card-item
								.card.card--border
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits.benefits--grid-sm
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
													p.benefits__title 2bd
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
													p.benefits__title 1ba
												.benefits__item
													p.benefits__title 756 sqft
							li.card-item
								.card.card--border
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits.benefits--grid-sm
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
													p.benefits__title 2bd
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
													p.benefits__title 1ba
												.benefits__item
													p.benefits__title 756 sqft
							li.card-item
								.card.card--border
									.card__img-top
										img(src="./img/card-img-1.jpg"  alt="card image cap").resp-img
									.card__body
										h5.card__title Central Park, Manhattan, NY
										p.card__subtitle $5,630,000
										p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
										.benefits.benefits--grid-sm
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#bed" class="svg") 
													p.benefits__title 2bd
												.benefits__item
													svg.benefits__svg
														use(xlink:href="./img/svg/SVG-sprite.svg#shower" class="svg")
													p.benefits__title 1ba
												.benefits__item
													p.benefits__title 756 sqft
					.col-xl-4
						.card-item.card-item--md
							.card.card--border
								.card__img-top
									img.card-item__img(src="./img/single-property-img-1.jpg" alt="single-property-1").resp-img
								.card__body.text-center
									h5.card__title Real Estate NY Agency
									ul.info-list.--center.--mrb-md
										li.info-item
											.info-item__description  Office:
											a(href="tel:1 222 333 4444" type="tel").info-item__link 1-222-333-4444
										li.info-item
											.info-item__description Mobile:
											a(href="tel:1 234 456 7893" type="phone").info-item__link 1-234-456-7893
										li.info-item
											.info-item__description Fax:
											a(href="tel:1 333 444 5555").info-item__link 1-333-444-5555
										li.info-item
											.info-item__description Email: 
											a(href="mailto:+44 987 065 908" type="phone").info-item__link hello@realestate.com
									ul.social-list
										li.social-item
											a.social-link
												svg.social-svg
													use(xlink:href="./img/svg/social-svg.svg#icon-facebook" class="svg")
										li.social-item
											a.social-link
												svg.social-svg
													use(xlink:href="./img/svg/social-svg.svg#icon-twitter" class="svg")
										li.social-item
											a.social-link
												svg.social-svg
													use(xlink:href="./img/svg/social-svg.svg#icon-pinterest" class="svg")
						form.form-contact(action="#").form-contact-single-properties
							.form-group
								input(type="text" class="form-control" placeholder="Name*")
							.form-group
								input(type="email" class="form-control" placeholder="Email*")
							.form-group
								input(type="text" class="form-control" placeholder="Title")
							.form-group
								textarea.message(type="textarea" class="form-control" rows="2" placeholder="Message*")
							.btn.btn-primary.w-100 Send Message
						form(action="#").form.agencies-form.--dark
							.container
								.row
									.col-12
										.form-group
											label(for="city") City
											select.custom-select(id="city").form-control
												option(selected) New-York
												option(value="1") Kharkiv
												option(value="2") Kiev
												option(value="3") Moscow
									.col-12
										.form-group
											label(for="purpose") Purpose
											select.custom-select(id="purpose").form-control
												option(selected) New-York
												option(value="1") Kharkiv
												option(value="2") Kiev
												option(value="3") Moscow
									.col-12
										.form-group
											label(for="keywords") Keywords
											input(type="search" id="site-search" name="keyword").search-keywords
								.btn.btn-lg.btn-primary.btn-block search agencies
		footer.footer.section--pd-md
			include components/_footer.pug
		section.section-copyright
			include components/parts/_section-copyright.pug
		include components/_scripts.pug